@CHARSET "UTF-8";

body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    background: #E6EAE9;
}
.stats-main-table  {
	font-size: 14px;
	width: 100%;
    text-align: center;
    color:#333;
}

.stats-main-table a  {
	color: #2A5DB0;
	text-decoration: none;
}

.stats-main-table a:hover {
    text-decoration:underline;
}

.stats-main-table {
    font-size:13px;
    width: 100%;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;    
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

.stats-main-table th {
    cursor:pointer;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #444;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.stats-main-table th.sidebar-th {
    border-bottom: 0px solid #C1DAD7;
}

.stats-main-table th.nobg {
	background:#F9F9F9;)
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
}

.stats-main-table td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}

.stats-main-table td:hover {
    cursor:pointer;
    background: #DCFAFC;
}


.stats-main-table td.alt {
    background: #F9F9F9;
    color:#444;
}

.total-block {
	background: #F9F9F9 !important;
	font-size:14px;
}

.grand-total-block {
	background: #CAE8EA !important;
	font-size:16px;
}

.chart-div-holder {
    padding-top:20px;
}