@CHARSET "UTF-8";

body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    background: #E6EAE9;
}

.listview-table a {
    color: blue;
    text-decoration: none;
}

.listview-table a:hover {
    text-decoration: underline;
}

.listview-table {
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

.listview-table th {
    cursor: pointer;
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #111;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: transparent;
}

.listview-table td {
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 6px 6px 6px 12px;
}

.listview-table td.alt {
    
}

.listview-table tbody tr {
    background: #FFF;
    color: #212;
}

.listview-table tbody tr:hover {
    background: #e5f3f5;
}

.listview-table th.spec {
    border-left: 1px solid #DDD;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.listview-table th.specalt {
    border-left: 1px solid #DDD;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

.listview-table.tablesorter thead tr {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 33%, #cccccc 79%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #eeeeee),
        color-stop(79%, #cccccc) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 33%, #cccccc 79%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 33%, #cccccc 79%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 33%, #cccccc 79%);
    /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 33%, #cccccc 79%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eeeeee',
        endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
}

.listview-table.tablesorter thead tr .header {
    padding-right: 20px;
    background-image:
        url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    text-align: center;
    border-bottom:1px solid #AAA;
}

.listview-table.tablesorter thead tr .headerSortUp {
    background-image:
        url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.listview-table.tablesorter thead tr .headerSortDown {
    background-image:
        url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.listview-table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
    {
    background-color: #CCC;
}

.paginator-div {
    padding: 10px;
    text-align: center;
    height: 40px;
}

.
.paginator-btns {
    font-weight: bold;
}