@CHARSET "UTF-8";

* {
    outline: none !important;
}

body {
    font-size: 11px;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    background: #FFF !important;
    margin-bottom: 25px;
    color: #222 !important;
    overflow-y: scroll;
}

.main-logo-text a {
    margin-left: 35px;
    vertical-align: middle;
    color: #F9F9F9;
    font-weight: bold;
    font-family: "courier", "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.main-logo-img {
    height: 40px;
    width: 19px;
}

.side-main-link {
    vertical-align: middle;
}

.header-div {
    z-index: 100;
    background: #2d3236;
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAABCCAIAAAD7ZzBlAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABp0lEQVQ4jY2TQZIkNwwDEyzOi3zywf//U0sEfFBVu2dnY8M6KKIUKhBIUvrr73+6u6pmZmaA4sd6H+V91FWyJ1ESSbZb0t6TpEpVBfTrtc79mcT0V3+TD4H8ruL5PwEkaa1piCQJILHHtdcSVAkyeyduBycydhwg9dU9s9d6Je7rAuqW+Vi99ooTYhtRVX2AAEmifPVXk/OJBGhm6rou0G1UWmvVa70krqsS1l55Z5T0ptg4FHEIOEAfkqemhJ2WmLmpSgXptd5UUbmv71QJhB9HJ3aIYwhizerEgBBg23HtPQolJcxMnL5Df+x9lcaTpKSSJvlOVQJ6z5xABtklfaMqqa+reZSFIB5X3Y2+1dbetfcIXVXAjHkP5mfdTnJnTI7bPiTfYkn6pH2oKqH33v9Rla7r+tNTeFvmsUoO4pnp3Pl1bjmpE/tYHfs28eDM0bufFUFSSf5BFaA9Jo8Do1I/Y/P4PA/oF7dVVx2JM6set8dVRZHkiPyO6g3vIXioKg9iUEhJ5djxaS3w0W0S8j+o3rP6GaCqPO5PU6d02ZZ0Yt3t+Cn/L18NcR/4tzq8AAAAAElFTkSuQmCC);
    background-repeat: repeat;
    width: 100%;
    /* 	background-position: 0px -90px; */
}

.header-item-table {
    padding: 8px 0px 8px 0px;
    width: 100%;
}

.header-item-table tr {
    vertical-align: middle;
}

.header-item-table .td1 {
    text-align: left;
    width: 25%;
}

.header-item-table .td2 {
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.header-item-table .td3 {
    text-align: right;
    width: 25%;
}

.txtbox {
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #333;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0
        rgba(255, 255, 255, 0.2);
}

.searchbox {
    background: #2d3236;
    width: 70% !important;
    margin: 0 !important;
    padding: 8px 6px;
    height: 17px !important;
    border: 1px solid #666;
    color: #BBB;
    font-size: 13px;
}

.searchbox:focus {
    color: #333;
    background: #FFF;
    text-indent: 0;
    z-index: 1;
    outline: 0 none;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    /* 	border: 1px solid #56b4ef; */
    /* 	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px */
    /* 		rgba(82, 168, 236, 0.6); */
}

.upper-link-username {
    color: #F9F9F1;
}

.footer-div {
    z-index: 999;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAABCCAIAAAD7ZzBlAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABp0lEQVQ4jY2TQZIkNwwDEyzOi3zywf//U0sEfFBVu2dnY8M6KKIUKhBIUvrr73+6u6pmZmaA4sd6H+V91FWyJ1ESSbZb0t6TpEpVBfTrtc79mcT0V3+TD4H8ruL5PwEkaa1piCQJILHHtdcSVAkyeyduBycydhwg9dU9s9d6Je7rAuqW+Vi99ooTYhtRVX2AAEmifPVXk/OJBGhm6rou0G1UWmvVa70krqsS1l55Z5T0ptg4FHEIOEAfkqemhJ2WmLmpSgXptd5UUbmv71QJhB9HJ3aIYwhizerEgBBg23HtPQolJcxMnL5Df+x9lcaTpKSSJvlOVQJ6z5xABtklfaMqqa+reZSFIB5X3Y2+1dbetfcIXVXAjHkP5mfdTnJnTI7bPiTfYkn6pH2oKqH33v9Rla7r+tNTeFvmsUoO4pnp3Pl1bjmpE/tYHfs28eDM0bufFUFSSf5BFaA9Jo8Do1I/Y/P4PA/oF7dVVx2JM6set8dVRZHkiPyO6g3vIXioKg9iUEhJ5djxaS3w0W0S8j+o3rP6GaCqPO5PU6d02ZZ0Yt3t+Cn/L18NcR/4tzq8AAAAAElFTkSuQmCC);
    background-repeat: repeat;
    color: #F9F9F9;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16);
    background-repeat: repeat;
}

.footer-div a {
    color: #F9F9F9;
}

.css-button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px !important;
    outline: none;
    font-weight: bold;
    height: 34px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    background-image: -moz-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    background-image: -o-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    background-image: linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
    border: 1px solid rgba(45, 102, 195, 1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px
        rgba(255, 255, 255, 0.2);
    outline: none;
}

.css-button:active {
    background-image: -webkit-linear-gradient(#6095ed, #6095ed 38%, #6095ed);
    border: 1px solid rgb(38, 84, 160);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

#jquery-autocomplete-results {
    z-index: 200;
}

#jquery-autocomplete-results ul {
    width: 100%;
}

#jquery-autocomplete-results ul .ui-state-hover {
    background: #3276b1 !important;
    color: white;
    border: 0px;
    border-radius: 0px;
}

.popup-opacity-background {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    border: 1px solid #cecece;
    z-index: 105;
}

.popupDiv {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6*/
    height: 314px;
    width: 380px;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 110;
    font-size: 13px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.account-dropdown {
    z-index: 101;
    display: none;
    position: absolute;
    top: 57px;
    right: 0px;
    width: 160px;
    background: white;
    border: 1px solid #AAA;
    border-top: 0px;
    border-right: 0px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.account-dropdown li {
    cursor: pointer;
    font-size: 14px;
    margin: 0px;
    padding: 5px 5px 5px 15px;
    list-style-type: none;
}

.account-dropdown ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.account-dropdown li:hover {
    background: #1f3136;
    color: white;
}

.account-dropdown a {
    text-decoration: none;
    color: inherit;
}

/* Auth.css */
#wrapper1 {
    text-align: center;
    padding: 40px;
    position: absolute;
    left: 32%;
    right: 32%;
    background: #F9F9F9;
}

#wrapper2 {
    text-align: center;
    padding: 30px;
}

#wrapper1 .innerdiv {
    padding-bottom: 20px;
    /* 	padding-left: 25%; */
    /* 	padding-right: 25%; */
}

.form-header-span {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

legend {
    color: #0481b1;
    font-size: 16px;
    padding: 0 10px;
    background: #fff;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    padding: 5px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.input,.textarea {
    background: #fff;
    border: 1px solid #BBB;
    color: #333;
    font-size: 14px;
    line-height: 1.2em;
    /* 	margin-bottom: 15px; */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0
        rgba(255, 255, 255, 0.2);
}

.textboxes {
    width: 80% !important;
    padding: 8px 6px;
    height: 22px;
}

.textarea:focus {
    text-indent: 0;
    outline: 0 none;
    z-index: 1;
    border: 1px solid #56b4ef;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px
        rgba(82, 168, 236, 0.6);
}

.textboxes:focus {
    text-indent: 0;
    z-index: 1;
    outline: 0 none;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    border: 1px solid #56b4ef;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px
        rgba(82, 168, 236, 0.6);
}

.btns {
    background: #3276b1;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.btns:hover {
    background: #285e8e;
}

.error-msg-div {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    background: #d74747;
    border: 1px solid #f98f8f;
    color: white;
    display: none;
}

.success-msg-div {
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    padding: 5px;
    background: #d0facf;
    border: 1px solid #8fc38c;
}

.error-field {
    background: #fff5f4;
    border: 1px solid #f98f8f;
}

.upper-action-link {
    margin-right: 15px;
}

.upper-action-link {
    vertical-align: middle;
    font-size: 15px;
    color: #F9F9F9;
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.upper-action-link:hover {
    color: #C1DAD7;
}

.ace_editor {
    font-size: 15px !important;
}

#msg-container {
    display: none;
    margin-bottom: 10px;
}

.inner-header-div {
    padding: 14px 0px 14px 0px;
}

.faded-text {
    color: gray;
}

.italic {
    font-style: italic;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px
}

.input-holder {
    margin: 10px;
}

.hidden-elems {
    display: none;
}

#about-me-block {
    position: absolute;
    left: 400px;
    right: 400px;
    bottom: 25px;
    text-align: center;
    padding: 12px;
    background: white;
    border: 1px solid #AAA;
}

#auth-msg-container { /* 	margin-left:25%; */
    /* 	margin-right:25%;   */
    
}

.embossed-div {
    box-shadow: 0px 0px 10px #999;
}

.popup-close-btn {
    float: right;
    margin: -20px;
    cursor: pointer;
}

.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}

.small-textbox {
    padding:3px !important;
}