.body-main {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#code-editor {
	margin: 0;
	width: 100%;
	height: 550px;
}

.titlebox {
	height: 16px !important;
	width: 300px !important;
	margin: 0 !important;
}

.form-table {
	width: 100%;
	border-bottom: 1px solid #DDD;
}

.form-table .td1 {
	width: 75%;
}

.form-table .td2 {
	vertical-align: top;
	margin-left: 10px;
	border-left: 1px solid #CCC;
}

.form-table .inner-table {
	width: 100%;
	padding:10px;
	padding-top:0px;
}

.form-table .inner-table #description {
	height: 120px;
	width:95%;
}

.textarea {
	padding: 3px;
	width: 91%%;
	height: 50px;
}
